<div>
  <ul>
    <% if flash[:error] %>
      <li class='text-red'><%= flash[:error] %></li>
    <% end %>
    <% (object&.errors&.full_messages || []).each do |message| %>
      <li class='text-red'><%= message %></li>
    <% end %>
  </ul>
</div>